.titulo{
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    color: red;
    font-size: 30px;
}

.subTitulo{
    font-weight: bold;
    font-size: 20px;    
}

.paragrafoVerde{
    color: lime;
}

.paragrafoVermelho{
    color: red;
}